@import '@taiga-ui/core/styles/taiga-ui-local.less';


.boardContainer {
    margin: auto;
}

.table {
    width: 68%;
}

.item {
    border-radius: inherit;
    font-weight: normal;
}

._hidden {
    visibility: hidden;
}

.tiles {
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: column;
}

.candidate-panel {
    position: absolute;
    top: 6vw;
    width: 82vw;

    tui-tiles {
        padding-bottom: 2vw;

        .tile:before {
            content: 'Drop here';
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            color: var(--tui-base-04);
            border: 2px dashed var(--tui-base-03);
            .transition(opacity);
        }

        .tile.current-stage::before,
        .content {
            opacity: 0;
        }

        .current-stage .content {
            opacity: unset;
        }

        tui-tile>.t-wrapper,
        .tile:before {
            border-radius: var(--tui-radius-l);
        }

        tui-tile {
            margin: 1rem;
        }
    }
}

.content {
    .transition(box-shadow);
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    background: var(--tui-base-01);
    box-sizing: border-box;
    overflow: hidden;

    tui-tile._dragged & {
        box-shadow: var(--tui-shadow-hover);
    }
}

.title {
    margin: 0 0 1rem;
}

.handle {
    .transition(opacity);
    position: absolute;
    right: 0.75rem;
    top: 1rem;
    background: var(--tui-base-01);
    opacity: 0;
    cursor: move;

    tui-tiles:not(._dragged) tui-tile:hover &,
    tui-tile._dragged & {
        opacity: 0.7;
    }
}

.kanban-board {

    .header-wrapper {
        display: flex;
        flex-direction: row;

        .add-button {
            color: black;
        }
    }

    .header-title {
        width: 100%;
    }

    .applied-card {
        .content {
            background-color: var(--tui-support-10);
        }

        .header-title,
        tui-svg {
            background-color: var(--tui-support-09);
        }
    }

    .interviewing-card {
        .content {
            background-color: var(--tui-support-08);
        }

        .header-title,
        tui-svg {
            background-color: var(--tui-support-07);
        }
    }

    .offered-card {
        .content {
            background-color: var(--tui-support-02);
        }

        .header-title,
        tui-svg {
            background-color: var(--tui-support-01);
        }
    }

    .hired-card {
        .content {
            background-color: var(--tui-support-12);
        }

        .header-title,
        tui-svg {
            background-color: var(--tui-support-11);
        }
    }

    h2.header-title {
        padding-block-start: 1.25rem;
        margin-block: 0;
        padding-left: 1.25rem;
        padding-block-end: 1.25rem;
        color: var(--tui-text-01-night);
    }

    tui-svg.handle {
        right: 1.25em;
        top: 1.25em;
    }
}