<ng-template let-observer [tuiDialogOptions]="{label: 'Declarative directive', size: 's'}" [(tuiDialog)]="open">
    <form [formGroup]="exampleForm" (ngSubmit)="observer.complete()">
        <p>Add a new Candidate</p>
        <tui-input formControlName="nameValue" tuiAutoFocus>
            First Name
            <input inputmode="string" tuiTextfield />
        </tui-input>
        <p>
            <button tuiButton type="submit">
                Ok
            </button>
        </p>
    </form>
</ng-template>

<tui-root>
    <tui-island class=" kanban-board-wrapper">
        <tui-tiles class="tiles kanban-board" [debounce]="300" [(order)]="order">
            <tui-tile *ngFor="let item of items.headerItems; let index = index" class="tile {{ item.classes }}"
                [height]="item.h" [style.order]="order.get(index)" [width]="item.w">
                <div class="overlay">
                    <div class="header-wrapper">
                        <h2 class="header-title">{{ item.content }} <button class="add-button" type="button"
                                (click)="onAddCandidateClick(index)"> Add
                            </button>
                        </h2>
                    </div>
                </div>
                <div class="content">
                    <!-- Order - {{ order.get(index) ?? index }} -->
                </div>
            </tui-tile>
        </tui-tiles>
        <div class="candidate-panel">
            <tui-tiles *ngFor="let candidateItem of items.candidateItems" [debounce]="0" class="tiles"
                [(order)]="candidateItem.order">
                <tui-tile *ngFor="let s of STAGES; let index = index"
                    [ngClass]="{'tile': true, 'current-stage': candidateItem.candidate.stage === s}" [height]="1"
                    [width]="1" [style.order]="candidateItem.order.get(index)" (click)="onMouseUp(index)">
                    <div class="content">
                        <div class="current-stage" *ngIf="candidateItem.candidate.stage === s">
                            {{ candidateItem.candidate.firstName }} {{ candidateItem.candidate.lastName }}
                            <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
                            <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
                        </div>
                    </div>
                </tui-tile>
            </tui-tiles>
        </div>
    </tui-island>
</tui-root>