<tui-root>
    <tui-island class=" kanban-board-wrapper">
        <tui-tiles class="tiles kanban-board" [debounce]="300" [(order)]="order">
            <tui-tile *ngFor="let item of items.headerItems; let index = index" class="tile {{ item.classes }}"
                [height]="item.h" [style.order]="order.get(index)" [width]="item.w">
                <div class="overlay">
                    <h2 class="header-title">{{ item.content }}</h2>
                </div>
                <div class="content">
                    <!-- Order - {{ order.get(index) ?? index }} -->
                </div>
            </tui-tile>
        </tui-tiles>
        <div class="candidate-panel">
            <tui-tiles *ngFor="let candidateItem of items.candidateItems" [debounce]="0" class="tiles"
                [(order)]="candidateItem.order">
                <tui-tile *ngFor="let s of STAGES; let index = index"
                    [ngClass]="{'tile': true, 'current-stage': candidateItem.candidate.stage === s}" [height]="1"
                    [width]="1" [style.order]="candidateItem.order.get(index)" (click)="onMouseUp(index)">
                    <div class="content">
                        <div class="current-stage" *ngIf="candidateItem.candidate.stage === s">
                            {{ candidateItem.candidate.firstName }} {{ candidateItem.candidate.lastName }}
                            <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
                            <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
                        </div>
                    </div>
                </tui-tile>
            </tui-tiles>
        </div>
    </tui-island>
</tui-root>